

/* bar on top*/
Header{
Background-color: #84abbf;
Width: 81.3%;
height: 70px;
text-align: center;
margin-left:18.3%;
position:fixed;
top:0;
z-index:500;
box-shadow: 0px 5px 10px 0px #84abbf;
}
.sticky{
position:fixed;
top:3%;
width:18%;
float:left;
z-index:1000;
}

/* big box on left */ 
.image-section {
    height: 100vh;
    -moz-text-align: center; /*works on Firefox */
    -webkit-text-align: center; /*works on Safari and Google Chrome*/
    text-align: center;
    background-color: gray;
    -moz-padding: 20px; /*works on Firefox */
    -webkit-padding: 20px; /*works on Safari and Google Chrome*/
    padding: 20px;
  }
.Box-Left{
 background-color: gray;
width: 100%;
height: 850px;
border: 1px solid transparent black;
position: auto;
Color: Orange;
Text-align: center;
font-size: 36px;
border-radius: 2%;
z-index:9999999;
padding-top:5%;

	}
.left{
width=device-width;
}
.icon-link {
    text-decoration: none;
    font-size: 48px auto;
    padding: 26px;
  }
.text{
Color:black;
font-size: 48px auto;
border:2px solid black;
height:100%;
text-align:left;
}

.Middle{
background-color: #f1f1f1;
width: 82%;
height: 100%;
margin:auto;
border: 2px solid transparent black;
Color: Black;
Text-align: center;
font-size: 36px;
position:relative;
float:right;
}
.Middle-Box{
Height:100%;
}

.MiddleTitle{
border-bottom: 2px solid transparent;
color: green;
font-size: 11xp;

}
.Box1{
display:inline-block;
border:1px solid transparent black;
height: 500px;
width: 45%;
position:static;
margin: 0 auto;
padding:10px;
background-color:#ebeff7;
box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.5);
border-radius: 5%;
}
.Center{
margin-left:auto;
margin-right:auto;
}
.Box2{

border:1px solid transparent black;
height: 700px;
width: 45%;
margin: 0 auto;
padding:10px;
background-color:#ebeff7;
box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.5);
border-radius: 5%;
margin-bottom: 20px;
}

.Skills{
border:1px solid transparent black;
display:inline-block;
width: 45%;
height: 20%;
}
.MyFace{
border-radius: 50%;
height: 180px;
width: 180px;
	}
.MyFace img{
height: 180px;
width: 180px;
border: 5px solid  black;
border-radius: 33.3%;

}
.margin{
display: inline-block;
vertical-align: auto;
Color: Black;
font-size: 40px;
}
.NoteTitle{
Color: black;
Text-align: left;
font-size: 20px;
margin-top: 10px;
}

.Type{
Display:inline-block;
font-size:20px;
}
.contact-info{

font-size:20px;
}
.button{
  background-color:#84abbf; /* Green */
  border-top: 3px solid  black;
  border-bottom: 3px solid  black;
  border-left: none;
  border-right: none;
  color: Black;
  padding: 5px 5px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
 
  margin-left:0.2%;
  margin-top:1%;
}
.button1{
  background-color:#84abbf; /* Green */
  border: 3px solid black;
  color: Black;
  padding: 5px 5px;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 25px;
  margin-left:0.2%;
  margin-top:1%;
}
.button:hover{
background-color:#566eba;
color:white;
}
.button1:hover{
background-color:#566eba;
color:white;
}
body {
  background-color:#606163;
  padding: 0;
  margin: 0;
    
    
}

p,h2{
  color: black;
  font-family: verdana;
  font-size: 20px;
  text-align: Left;
}
.h1{
  color: black;
  font-family: verdana;
  font-size: 20px;
  text-align: Left;
  }
